/* Style Adjustment
--------------------------------------- */
.u-align
  &-l
    text-align left !important

    &--pc
      +pc-layout()
        text-align left !important

    &--sp
      +sp-layout()
        text-align left !important

  &-c
    text-align center !important

    &--pc
      +pc-layout()
        text-align center !important

    &--sp
      +sp-layout()
        text-align center !important

  &-r
    text-align right !important

    &--pc
      +pc-layout()
        text-align right !important

    &--sp
      +sp-layout()
        text-align right !important

.u-valign
  &-t
    vertical-align top !important

    &--pc
      +pc-layout()
        vertical-align top !important

    &--sp
      +sp-layout()
        vertical-align top !important

  &-m
    vertical-align middle !important

    &--pc
      +pc-layout()
        vertical-align middle !important

    &--sp
      +sp-layout()
        vertical-align middle !important

  &-b
    vertical-align bottom !important

    &--pc
      +pc-layout()
        vertical-align bottom !important

    &--sp
      +sp-layout()
        vertical-align bottom !important
