/* Base
----------------------------------------------------------------- */
html
	overflow-y scroll
	font-size 62.5%

body
	font-family 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
	line-height 1
	font-size $fontSize px
	font-weight 400
	color $primaryColor
	-webkit-text-size-adjust none

video
	width 100%
	height 100%

img
	max-width 100%
	vertical-align middle

a
	color #000
	transition all .3s ease-out

button
	cursor pointer
	color #000
	transition all .3s ease-out

#wrapper
	overflow hidden

.is-pc
	+sp-layout()
		display none !important

.is-sp
	+pc-layout()
		display none !important