$screensize = 375

// percentage
per(n, w = $base-width)
  percentage((n / w))

// viewport width
vw(val, baseVal = $base-width)
  ((val / baseVal) * 100)vw

get-vw($size, $viewport = $screensize)
  $rate = (100 / $viewport)
  $rate * $size * 1vw

get-per($size, $viewport = $screensize)
  $rate = (100 / $viewport)
  $rate * $size * 1%

// Media Query
lg-layout()
  @media $lg
    {block}

pc-layout()
  @media $pc
    {block}

tab-layout()
  @media screen and (min-width: 768px) and (max-width: 1440px)
    {block}

sp-layout()
  @media $sp
    {block}

sd-layout()
  @media $sd
    {block}

landscapehack()
  @media screen and (orientation: landscape)
    {block}

// Opacity
opacity(n)
  opacity n

  if (support-for-ie)
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
