// Set value breakpoint
$screensize = 375
$base-width = 750
$maxWidth = 768
$lg = 'screen and (min-width: 1441px)'
$pc = 'screen and (min-width: ' + $maxWidth + 'px)'
$sp = 'screen and (max-width: ' + ($maxWidth - 1) + 'px)'
$sd = 'screen and (max-width: 321px)'
// Set Default font size
$fontSize = 16
// Set colors
$primaryColor = #000