extend _includes/_template

append variables
  - var page = 'top';
  - var title = 'Demo page';
  - var description = '';
  - var img = '/assets/img/share/ogp.jpg';
  - var url = '';

block main
  main
    h1.logo
      img(src="assets/img/top/logo.png" alt="")
    a(href="sub.html") link sub
