extend _includes/_template

block vars
	- page = 'top'
	- title = 'Demo page'
	- description = ''
	- img = '/assets/img/share/ogp.jpg'
	- url = '';

block main
	#wrapper
		h1.logo
			img(src="assets/img/top/logo.png" alt="")
		a(href="sub.html") link sub
	// #wrapper
