extend _includes/_template

append variables
	- var page = 'top';
	- var title = 'Demo page sub';
	- var description = '';
	- var img = '/assets/img/share/ogp.jpg';
	- var url = '';

block main
	#wrapper
		h1 Page content subcc
		a(href="index.html") link top
	// #wrapper
