extend ../includes/_template

block vars
    - page = 'top'
    - title = 'Demo page'
    - description = ''
    - type = 'website'
    - url = '';

block main
    #wrapper
        h1 Page content
        a(href="sub.html") link sub
    // #wrapper
