extend ../includes/_template

block vars
    - page = 'top'
    - title = 'Demo page sub'
    - description = ''
    - type = 'website'
    - url = '';

block main
    #wrapper
        h1 Page content sub
        a(href="index.html") link top
    // #wrapper
